[Unit]
Description=JupyterHub
After=syslog.target network.target

[Service]
User=root
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/opt/jupyterhub/bin"
ExecStart=/var/www/jupyterhub/env/bin/jupyterhub -f /var/www/jupyterhub/jupyterhub_config.py

[Install]
WantedBy=multi-user.target
